@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #DB4444;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #b91c1c;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #DB4444 transparent;
}

@keyframes stretch-bounce {
  0%, 100% {
    height: 12px;
    opacity: 0.7;
  }
  50% {
    height: 35px;
    opacity: 1;
  }
}

/* */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  
  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE dan Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

.animate-stretch {
  animation: stretch-bounce 1s ease-in-out infinite;
}