@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #DB4444;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #b91c1c;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #DB4444 transparent;
}